<li class="<%= yes_no_question.key %>">
  <h2><%= yes_no_question.text %></h2>
  <%= previous_answer_fields(context.answers) %>
  <label for="<%= yes_no_question.key %>_yes">Yes</label>
  <input id="<%= yes_no_question.key %>_yes" type="radio" value="yes" name="<%= yes_no_question.key%>" />
  <label for="<%= yes_no_question.key %>_no">No</label>
  <input id="<%= yes_no_question.key %>_no" type="radio" value="no" name="<%= yes_no_question.key%>" />
</li>
