<%= link_to "Back", admin_subjects_path %>
<h1><%= @subject.title %></h1>
<dl>
  <dt>Slug:</dt>
  <dd><%= @subject.slug %></dd>
  <dt>Intro:</dt>
  <dd><%= @subject.intro %></dd>
  <dt>Outcome:</dt>
  <dd><%= @subject.outcome %></dd>
</dl>
<%= link_to "Edit", edit_admin_subject_path(@subject) %>
